<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @product.photo? ? cloudinary_url(@product.photo.path, width: 1280, height: 700, crop: :fill) : image_path("background.jpg") %>');">

  <div class="banner-content">
    <h1><%= @product.name %></h1>
    <p><%= @product.tagline %></p>
    <%= link_to "GET IT", @product.url, class:"navbar-wagon-item navbar-wagon-button btn btn-warning"  %>
  </div>
</div>
 <% if @product.description? %>
  <div class="container text-center padded"><br><br><br>
  <h2><%= @product.description %></h2><br><br><br><br><br><br>
    <%= link_to "GET IT", @product.url, class:" btn btn-lg btn-primary btn-block"  %>
  </div>
<% end %>